<section class="container">
    <div class="row justify-content-center align-items-center">
        <h1>{{title}}</h1>
        <div class="col-4">
            <img src="{{linkFromAPI}}" alt="Image from API" class="img-fluid">
        </div>
    </div>
</section>