<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/form">Form</a>
          </li>
          <li class="nav-item">
            <button mat-button *ngIf="!logged; else logOutBlock" class="nav-link" routerLink="/login"> {{ actionLog }} </button>
            <ng-template #logOutBlock>
              <button mat-button class="nav-link" (click)="logOut()"> {{ actionLog }} </button>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </nav>