<section class="container my-5">
    <div class="row justify-content-center align-items-center" id="home-section">
        <div class="text-center my-4" id="home-section--content">
            This is the home section
        </div>
        <app-section1></app-section1>
    </div>
</section>