<section class="container mt-5 justify-content-center align-items-center">
    <div class="col-3 col-md-6">
      <h2>Login</h2>
        <form [formGroup]="loginForm">
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" name="userName" formControlName="userName" (ngModelChange)="userNameChanged()"
                [class.is-invalid]="userName?.invalid && submitted">
                <small [class.d-none]="userName?.valid || !submitted" class="text-warning">User name richiesto<br></small>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password" (ngModelChange)="passwordChanged()"
                [class.is-invalid]="password?.invalid && submitted">
                <small [class.d-none]="!password?.errors?.required || !submitted" class="text-warning">Password richiesta<br></small>
                <small [class.d-none]="!password?.errors?.minlength || !submitted" class="text-warning">Minimo 8 caratteri<br></small>
              </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" (click)="check()">Login</button>
            </div>
          </form>
    </div>
</section>